__pycache__/
language.conf
test.py
test1.py
production.conf
configuration.conf
org.freedesktop.policykit.securitymanager.policy
debug.conf
scripts/idp-tpm.build
scripts/idp-tpm.dist
scripts/idp-tpm.onefile-build
# Remove later
scripts/idp-tpm