security-manager/configuration.conf
security-manager/idp/idp-tpm.build
security-manager/idp/idp-tpm.dist
security-manager/idp/idp-tpm.onefile-build
security-manager/__pycache__/
src/
pkg/
security-manager.tar.gz
secux-security-manager-*
