security-manager/configuration.conf
security-manager/scripts/idp-tpm.build
security-manager/scripts/idp-tpm.dist
security-manager/scripts/idp-tpm.onefile-build
src/
pkg/
security-manager.tar.gz
secux-security-manager-*